@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

/* GENERAL */
*{
	margin: 0;
	padding: 0;
}

h2 {
	font-family: 'Open Sans';
	text-align: center;
	margin-bottom: 20px;
}

h2:after {
	content: ""; 
	display: block;
	margin: 0 auto;
	padding-top: 10px;
	border-bottom: 4px solid #0cd98a;
	width: 90px;
}

p {
	font-size: 16px;
	font-family: 'Open Sans';
}

.section {
	margin: 40px 0 40px;
}

/* MAIN MENU */
.main-menu {
	position: fixed;
	top: 0;
	z-index: 10;
	background: #fff;
	width: 100%;
}
ul.main-nav {
	list-style: none;
	margin: 0;
}
.main-nav {
	display: flex;
}
.main-nav li:first-child {
	margin-right: auto;
}
.main-nav li {
	margin-left: 36px;
	padding: 30px 0 30px;
}
.main-nav a {
	color: #000;
	text-decoration: none;
	font-size: 14px;
	font-family: "Open Sans";
	font-weight: 700;
	text-transform: uppercase;
}

.main-nav a:active,
.main-nav a:hover {
	color: #0cd98a;
}

#home {
	background: url(../img/bg-image.jpg) no-repeat fixed center;
	background-size: cover;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center; /*flex-end*/
}
#home .wrapper-text h1 {
	background: rgba(0,0,0, 0.8);
	color: #fff;
	padding: 10px 20px 10px;
}

/* SERVICES SECTION 3 COLUMN LAYOUT */
.flex-grid {
	display: flex;
}

.flex-grid .col {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

.flex-grid .col i {
	margin-bottom: 20px;
}

/* ABOUT */
#about {
	background: url(../img/about-us.jpeg) no-repeat fixed center;
	background-size: cover;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
#about .about-us-text {
	width: 500px;
	text-align: center;
}

/* TESTIMONIALS */
.testimonials-wrapper {
	width: 600px;
	margin: 0 auto;
}
.testimonials-wrapper .testimonial-box {
	display: flex;
	padding: 20px;
}
.testimonials-wrapper .image-testimonial {
	padding: 20px;
}
.testimonials-wrapper .image-testimonial img {
	width: 200px;
	border-radius: 50%;
}


.testimonials-wrapper .text-testimonail,
.testimonials-wrapper .image-testimonial {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* EVENTS */
#events {
	padding: 60px 0 60px;
	background: #0d98ba;
	color: #fff;
}
#events h2:after {
	border-bottom: 4px solid #fff;
}

/* CONTACT */
#contact form input {
	border-radius: 0;
}

#contact form .custom-button {
	background: #0d98ba;
	padding: 5px 10px;
	border: none;
	cursor: pointer;
}

/* FOOTER */
footer {
	background: #333;
	color: #fff;
	padding: 40px 0 0;
}
footer .footer-wrapper .col {
	text-align: left;
}
footer .social-wrapper a {
	color: #fff;
	padding: 6px;
}
footer .social-wrapper a:hover {
	color: #0d98ba;
}